BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
AlignConsecutiveMacros:
  PadOperators: True
ReferenceAlignment: Left
SpacesInParens: Custom
ColumnLimit: 100
IndentCaseLabels: true
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignTrailingComments:
  Kind: Leave
AllowShortEnumsOnASingleLine: false